<!--Esto para visualize el componente que este en shared -->
<app-header></app-header>

<!--Lo que esto haciendo es parte en este en todas las parte-->
<section class="ae-container-fluid rk-main">
<!--Este componente visualira el portafolio-->

<!--<app-portafolio></app-portafolio>-->
<!--<app-about></app-about>-->
<!--<app-item></app-item>-->
<!--Para rendirezar todas las paginas a una sola -->
<router-outlet></router-outlet>


  </section>
<!-- Este visualiza el componente footer-->
<app-footer></app-footer>
